.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  padding: 0 80px;
  z-index: 3;

  @media screen and (max-width: 1200px) {
    height: 70px;
    padding: 0 30px;
  }

  & .logo {
    width: 100%;
    max-width: 120px;
    filter: brightness(1000%);

    @media screen and (max-width: 1200px) {
      max-width: 100px;
    }
  }

  & .option {
    display: flex;
    align-items: center;

    & a {
      font-size: var(--size-text);
      font-family: var(--font-regular);
      color: var(--color-primary);
      margin: 0 0 0 30px;
      transition: all 0.3s;

      &:hover {
        color: var(--color-tertiary);
      }

      @media screen and (max-width: 1200px) {
        display: none;
      }
    }

    & .emphasis {
      font-family: var(--font-bold);
      background-color: var(--color-tertiary);
      padding: 12px 25px;
      border-radius: 10px;

      &:hover {
        background-color: var(--color-primary);
      }

      @media screen and (max-width: 1200px) {
        display: flex;
      }
    }
  }
}
